[2021-06-16 15:23] goern opened #1 "[ux] ODH dashboard integration"
As a ODH user,
I want to see the build pipeline capability on the ODH dashboard,
so that I can use it to build one experiment (by providing the URL to the repo),
and so that I get redirected into ODH afterwards.

/kind feature
/triage needs-information

[2021-06-21 12:12] tumido opened #2 "PoC minimal web frontend/backend"
Create a microservice controller bundling frontend and backend into a single service

Backend in Golang - so we can use Kube client and so on
Frontend in React, possibly static like Next.js

[2021-06-21 12:13] tumido opened #3 "Investigate JH spawner API - find out if we can spawn a pod via a webhook/API calls"
We should understand if we can spawn a pod via API, that way we can use out controller to create JH server for the user and redirect them directly to the running instance

[2021-06-21 12:16] tumido opened #5 "Investigate image build pipeline via AICoE-CI"
Consult AICoE-CI's build pipelines and determine how best to interface with them. Familiarize yourself with the process, pipeline definition manifests, and build status reporting.

Imagine having a controller that knows a repo URL - how do we want to pass this info to the build pipeline? Via webhook or a manifest? What other inputs does a pipeline need? What happens during the build? Where is the

[2021-06-21 12:18] tumido opened #6 "Image build status reporting"
Consult AI-CoE-CI on how to stream/get logs/data from the build pipeline, so we can show something to the users.

Is a stream over grpc/websocket possible? How is this stream achieved in OCP console (for refference).

[2021-06-21 12:19] tumido opened #7 "Create/Build image that expires in X hours (so we don't flood our quay org)"
Label resulting images with `quay.expires-after=` so the images dissapear after some time and don't flood our Quay organization.

https://access.redhat.com/documentation/en-us/red_hat_quay/3/html/use_red_hat_quay/working_with_tags#tag-expiration

[2021-06-21 12:22] tumido opened #8 "Quay image to use full repository name or UUID as image name"
Build pipeline must be able to avoid conflicts between different images from repositories that may have the same name.

Either:
- use full repository name for the image name (potentially many images in quay)
- use UUID ("order" identifier passed from the controller) as a tag in a single quay repository for all images

[2021-06-21 12:34] tumido opened #9 "Submit ImageStream manifest from controller"
Meteor controller needs to be able to talk to Kube api and submit ImageStream to the cluster.

Investigate imageStream expiration/deletion on quay timeout.

[2021-06-22 09:45] tumido opened #10 "Idea - simple operator"
Design a simple operator that can work with a custom resource for the processed repo.

This CR can:
- serve as a DB for the processing phase
- have an expiration date controlled by the operator
- own resources like imagestreams, bucket claims and JH pod deployments that can be deleted in cascade after expiration

[2021-06-22 13:17] MichaelClifford opened #11 "Proofread/ edit content in demo repo."
The [elyra devsecops tutorial](https://github.com/AICoE/elyra-aidevsecops-tutorial) repo needs some proofreading and editing to be ready for more public consumption. This seems like a task for members of team shooting star?

[2021-06-22 17:56] MichaelClifford opened #13 "Convert Elyra Tutorial into jupyterbook format"
Update the elyra tutorial (or a fork of it) to meet the requirements for jupyterbook, so that we can share it with github pages and deploy interactively on opf.

[2021-06-23 14:16] oindrillac opened #14 "Improve content presentation on the website"
Currently the Elyra tutorial is presented as a [document](https://www.operate-first.cloud/users/elyra/README.md) under the Users/JupyterHub section on the website.
 Since this project spans aspects beyond "Jupyterhub", we can create a separate section for this.

Also, we need to make the links within the repo relative so that we can consolidate the steps within the website and avoid redirection to

[2021-06-23 15:21] tumido opened #15 "Create a pipeline that builds JupyterBook HTML"
As a Data Scientist using Python,
I want to use Meteor to turn a repo full of Jupyter Notebooks into a JupyterBook container image,
So that the container image gets deployed to Operate First,
And So that I can show off my work.

:warning: EDIT :boom: :bomb:
**Initial implementation**

Create a Tekton pipeline that can be co-located (co-hosted) with AICoE CI.

1. This pipeline is triggered via a we

[2021-06-23 16:36] MichaelClifford opened #16 "Team to walkthrough Elyra Tutorial and collect feedback."
Review the [Elyra DevSecOps Tutorial](https://github.com/AICoE/elyra-aidevsecops-tutorial) by walking through all of the content  on the repo and trying to complete the tutorial. The goal for this issue is to ensure the team is familiar with the content, and starts to take note of areas that need polish or need to be updated/adapted to meet the need of this project ( which is to just drop a link a

[2021-06-23 17:14] tumido commented on #15
@oindrillac sure we can do that...

What about we have a script in this pipeline that:
- will use `README.md` as the landing page
- will locate all `.md` files and writes them to the `_toc.yaml` *

That way we don't need to convert repos to the jupyterbook format and just use them as is

\* something like:

[code]

[2021-06-23 17:22] oindrillac commented on #15
@tumido yes, exactly what I was thinking. That would make sense 👍

[2021-06-23 18:12] MichaelClifford commented on #15
This would be great @tumido we also want to include the `.ipynb` files into the book as well. not just the `.md`

[2021-06-24 16:40] hemajv opened #17 "Review CD/Elyra tutorial process and propose metrics"
Review the CD pipeline/Elyra tutorial process and create a flowchart explaining the same identifying the components and metrics that can be measured.

### Acceptance Criteria

- [ ] #33
- [x] Identifying suitable metrics that can be measured throughout the pipeline process
- [x] Identify the data sources required for these metrics

[2021-06-24 17:14] hemajv opened #18 "Epic: Setup and collect metrics"
Once we identify the metrics in #17, we should collect at least 1 metric for each identified data source and store the metrics in a publicly accessible opf ceph bucket.

### Acceptance Criteria

- [x] Setup and collect Google Analytics metrics
- [x] Setup and collect Prometheus metrics

[2021-06-24 20:46] MichaelClifford commented on #15
Does this also make #13 redundant?

[2021-06-25 08:38] tumido commented on #15
That is probably correct. Considering that repositories that are input to meteor can be of various formats we may offer 2 options for convenience:

- if a repo is already in the JupyterBook format (contains both `_toc.yaml` and `_config.yaml` ) we use it as is
- if a repo is not in JupyterBook we may use the script above to convert it.

If we apply the above - for the first iteration of Project Me

[2021-06-25 11:56] MichaelClifford commented on #15
I like it. So we will do it manually for the first iteration (#13 remains valid) and use a simpler pipeline that expects a repo in the correct format. :+1: We can automate the Jupyterbook set up later.

[2021-06-28 13:12] tumido opened #19 "Meteor repo/project board location - operate first or AiCoE?"
Decided: relocate to AiCoE

[2021-06-28 13:20] goern opened #20 "check membership and permissions"
/assign @tumido

[2021-06-28 14:01] tumido commented on #20
G-Chat solved by inviting all the mailing lists I could have thought of.

[2021-06-28 19:13] hemajv commented on #20
unable to assign myself to issues

[2021-06-28 19:16] harshad16 commented on #20
/assign @hemajv

[2021-06-28 19:16] hemajv commented on #17
/assign @hemajv

[2021-06-28 19:16] chauhankaranraj commented on #16
/assign @chauhankaranraj

[2021-06-28 19:56] Shreyanand commented on #5
/assign @Shreyanand

[2021-06-28 19:57] Shreyanand commented on #17
/assign @Shreyanand

[2021-06-29 11:48] tumido commented on #17
Resources: https://github.com/AICoE/elyra-aidevsecops-tutorial

[2021-06-29 11:59] tumido commented on #5
/assign @tumido

[2021-06-29 13:45] MichaelClifford commented on #16
@tumido
I added some more detail on this issue, let me know if you have any comments/feedback on this one : )

[2021-06-29 15:56] hemajv commented on #5
/assign @hemajv

[2021-06-29 16:00] oindrillac opened #21 "Environment Requirements should be abstracted from user"
We mention a bunch of "Environment Requirements" to the user [here](https://github.com/AICoE/elyra-aidevsecops-tutorial#environment-required) which are needed to run the tutorial.

All of these requirements should either be already set up for the user, hence omitted from the guide, or if the user needs to access/install something these items should point to how-to guides for them rather than wiki

[2021-06-29 16:00] sesheta commented on #21
@oindrillac: The label(s) `/label shooting-star

` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advi

[2021-06-29 16:32] aakankshaduggal commented on #5
/assign @aakankshaduggal

[2021-06-29 16:38] goern commented on #21
ja, from my point of view the subproject are `area`s rather than just a label

@tumido wdyt?

[2021-06-29 17:31] oindrillac commented on #21
/kind feature
/area shooting-star

[2021-06-29 17:31] sesheta commented on #21
@oindrillac: The label(s) `area/shooting-star` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/21#issuecomment-870784763):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related t

[2021-06-29 18:04] oindrillac opened #22 "Automate manual setup of pre-requisites for elyra-demo"
We have identified certain manual processes in the elyra-demo such as setting up [pre-requisites](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/master/docs/source/pre-requisite.md) which can help by being automated.

Using this issue to track the currently manual steps in the demo:

- Namespace creation
- Bucket creation

related #16

[2021-06-29 18:30] goern commented on #22
/kind feautre
/area comet

[2021-06-29 18:30] sesheta commented on #22
@goern: The label(s) `kind/feautre, area/comet` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/22#issuecomment-870821051):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2021-06-29 18:37] goern commented on #22
/area comet
/kind feature
/priority important-soon

[2021-06-29 18:55] goern commented on #21
/area shooting-star

[2021-06-30 15:15] chauhankaranraj opened #23 "Training nb does not consume outputs of Download Dataset nb"
In the AI pipeline, IIUC the first step ([download_dataset.ipynb](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/e033cdffeb8291be372417dd2dda819b264aba5c/notebooks/download_dataset.ipynb)) is supposed to download a dataset and save it to a ceph bucket, and the second step ([training.ipynb](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/e033cdffeb8291be372417dd2dda819b264aba5c/n

[2021-06-30 15:15] chauhankaranraj commented on #23
/area shooting-star

[2021-06-30 19:06] isabelizimm opened #24 "Time taken to train model in Elyra tutorial"
As a new user looking to have a brief intro to the Meteor project, I want a "quick-and-easy" process. When running [training.ipynb](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/e033cdffeb8291be372417dd2dda819b264aba5c/notebooks/training.ipynb), the length of time it takes to go through the 10 training epochs is, in my experience, about 10-15 minutes. It may be useful to shorten number

[2021-06-30 20:00] MichaelClifford commented on #24
:+1: On that note, it looks like you can get about +90% accuracy with 1 epoch.

![image](https://user-images.githubusercontent.com/4494906/124023598-18516a80-d9bc-11eb-9c02-8627a23d4811.png)

Should we decrease the number of epochs to 1? This should reduce the time by a factor of 10 : )

[2021-07-01 13:57] isabelizimm commented on #24
Yes-- that looks like a good way to shorten the time!

[2021-07-01 15:35] oindrillac commented on #24
related : #16

[2021-07-01 15:39] hemajv commented on #17
Initial doc created [here](https://docs.google.com/document/d/1SWv29LkjKUA4rkM3V6bR6GzVWJPWMgHm-RUPH7xiPrE/edit?usp=sharing)  to map out all the steps present in the existing tutorial and include some useful metrics we can measure in each of the steps

[2021-07-02 16:13] MichaelClifford opened #25 "Use relative links throughout the demo content"
Currently all links take us to github pages. Can we update the links to that when we open them in JL it takes us to the jl notebook, and same when using jupyter book?

[2021-07-02 16:42] MichaelClifford opened #26 "Spawned repos start with README opened with markdown preview"
When repos are spawned into jupyter lab environments users should be met with the README.md rendered with the markdown preview tool.  Otherwise, users will just see the launcher, and it might not be immediately obvious how to proceed with the tutorial.

[2021-07-02 16:51] MichaelClifford commented on #23
@chauhankaranraj do you have a suggestion for improvement? Should we add an acceptance criteria like, update traning.ipynb so that it consumes from ceph, instead of re-download data?

[2021-07-02 17:08] chauhankaranraj opened #27 "Image tags in tutorial docs not up to date"
In the [create-ai-pipeline.md](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/ab7770b2117d7bd375a045e87a15d96ffe19dc41/docs/source/create-ai-pipeline.md#add-runtime-images-using-ui) doc, the URLs that the user is asked to input for `Image Name` point to the older `v0.5.0` tag. But the latest [release](https://github.com/AICoE/elyra-aidevsecops-tutorial/releases/tag/v0.9.0) of the tutoria

[2021-07-02 17:08] chauhankaranraj commented on #27
/area shooting-star

[2021-07-02 17:12] chauhankaranraj commented on #23
Yes that sounds good :+1: Also, fwiw the training notebook does have a code snippet for consuming data from ceph, but it's commented out and I'm not exactly sure why :sweat_smile:

[2021-07-02 17:31] MichaelClifford opened #28 "Remove pre-requsite.md and automate prerequisite set up"
The environment set up should manage all the prerequisites for the user. So this [doc](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/master/docs/source/pre-requisite.md) in its current state should not be required.

- [ ] Update it to inform the user what is being set up for them, or what existing shared services that are connected to
- [ ] Remove from being step zero in the tutorial li

[2021-07-02 19:41] chauhankaranraj opened #29 "jupyter-nbrequirements doesnt work for training notebook in Elyra tutorial"
**Describe the bug**
When trying to update packages for [`training.ipynb`](https://github.com/AICoE/elyra-aidevsecops-tutorial/blob/e967491ebb77f83a6a5ba360b5f6516f827080f9/notebooks/training.ipynb) using the jupyter-nbrequirements extension, it gets stuck with a message saying "Contacting thoth for advise... please be patient!".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://

[2021-07-02 19:42] chauhankaranraj commented on #29
/area shooting-star

[2021-07-02 20:32] MichaelClifford opened #30 "Provide an example to show the utility of jupyterlab-requirements and overlays"
I do not think it is immediately obvious to the average data scientist what the benefit of managing dependencies per notebook would be, in contrast to repo-wide dependency management.

In the step 2 doc `explore-notebooks-and-manage-dependencies.md` we should provide a couple of examples to explain the need and benefit of this additional layer of dependency management.

two suggestions:

1. If you

[2021-07-02 20:46] MichaelClifford opened #31 "/docs/source/test-model.md should be updated to remove `pip install thamos`"
https://github.com/AICoE/elyra-aidevsecops-tutorial/issues/180

[2021-07-02 21:07] chauhankaranraj opened #32 "Pipeline stops execution with ceph 503 error, even when use_ceph is False"
**Describe the bug**
Elyra pipeline in tutorial errors out due to code 503 from ceph endpoint, even though the environment variable `TUTORIAL_USE_CEPH` is set to "0". Is this expected behavior?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud
2. Spawn Elyra tutorial image
3. Clone your fork of Elyra tutorial repo
3. Install runt

[2021-07-02 21:07] chauhankaranraj commented on #32
/area shooting-star

[2021-07-06 14:20] oindrillac commented on #28
related / duplicate of #22

[2021-07-06 14:46] #16 closed

[2021-07-06 14:46] #5 closed

[2021-07-06 14:47] tumido opened #33 "Flowchart visualization providing an overview of the product pipeline"
Come up with a flowchart to describe the entire project meteor workflow based on the "crawl" phase of the design doc: https://docs.google.com/document/d/1eCwFJirmAxzAMQRstAbL4Cq0gXX0R2WM9LcBIYYz7lA/edit?usp=sharing

[2021-07-06 14:47] #17 closed

[2021-07-06 14:48] #20 closed

[2021-07-06 14:48] #19 closed

[2021-07-06 14:50] tumido opened #34 "Document steps for conversion to JupyterBook format"
While converting Elyra tutorials document necessary steps.

[2021-07-06 14:55] tumido commented on #15
AI: @tumido @harshad16 document this task better in here.

[2021-07-06 15:03] pacospace commented on #32
this can be closed as it was solved by @MichaelClifford: https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/167/files, the new image needs to be added to Operate First.

[2021-07-06 15:04] pacospace opened #35 "automatically create kernels for tutorial using jupyterlab-requirements-cli in a step in aicoe-pipeline"
This could be done after image is spawned (checking dependencies from the notebooks) and install those kernels so they are ready for the users. Even though it will slow down a bit the spawning process

[2021-07-06 15:06] pacospace opened #36 "automatically populate runtime images and runtime for users setting values in configmaps"
This was done during first workshop of this tutorial with @tumido and @vasek

[2021-07-06 15:12] pacospace commented on #29
This is solved already, but new image with jupyterlab-requirements >= 0.7.4 is not available on operate first

[2021-07-06 15:13] pacospace commented on #31
thamos comes with jupyterlab-requirements: https://github.com/thoth-station/jupyterlab-requirements/blob/863c5d0df3664981966e4300fb6f0951ddef067b/Pipfile#L11

[2021-07-06 16:29] chauhankaranraj commented on #29
That's awesome!

What needs to happen for this? Is it just a matter of creating a new release?

[2021-07-06 16:39] pacospace commented on #29
ODH needs to release a new s2i-lab-elyra image that includes the new s2i-minimal notebook released. cc @harshad16

[2021-07-07 09:56] tumido commented on #3
Pod can be spawned by a GET request to JH spawner with Image ID as a parameter. Example:

https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/hub/spawn?configuration-files-analysis:latest

[2021-07-07 12:22] pacospace commented on #35
Related-To: https://github.com/thoth-station/jupyterlab-requirements/issues/324

[2021-07-08 13:10] oindrillac opened #37 "Tutorial notebooks use different environment variable names for the same function"
The notebooks `download-dataset.ipynb` and `training.ipynb` from the elyra demo use different environment variable names which serve the same function in multiple notebooks. As a user following through the tutorial, this makes me confused whether they have different purposes and needs me to configure more number of environment variables for the tutorial to function as expected.

To solve this, we

[2021-07-08 15:35] hemajv opened #38 "Update README"
Update the readme of repo to include better description and outline the 3 different work streams (Comet, Shooting Star and Telescope teams)

[2021-07-08 16:30] chauhankaranraj commented on #32
Hmm I ran the pipeline using the Elyra AIDevSecOps Tutorial image on operate-first JH, and using the operate-first "public" [s3 storage](https://github.com/operate-first/support/issues/165#issuecomment-810337239), and I still see this. Did I misconfigure something?

[2021-07-08 19:08] oindrillac commented on #34
We have documented the steps required for creating and publishing a Jupyter Book from a repository here:

https://docs.google.com/document/d/1fkLko3tG4Na_3UbGA-YzTqU-H42r-cU-skX07luyXho/edit

We have tested the workflow on our forks of the elyra-devsecops-tutorial repo and deployed the site using Github Pages - https://oindrillac.github.io/elyra-aidevsecops-tutorial/README.html and highlighted the

[2021-07-08 20:21] hemajv commented on #33
We (@isabelizimm @Shreyanand @aakankshaduggal) have created an initial flowchart diagram here: https://drive.google.com/file/d/12f69NAgCKMaQCOsoQrf52MtFxhCHGEJj/view?usp=sharing and is ready for review.

[2021-07-08 20:36] MichaelClifford commented on #29
Do we have an ETA for when this will happen?

[2021-07-08 20:44] MichaelClifford commented on #31
Should the instructions to install thamos be removed from  `/docs/source/test-model.md` then ?

![image](https://user-images.githubusercontent.com/4494906/124987620-11a1a380-e00b-11eb-92da-f381cd68d750.png)

[2021-07-08 20:59] pacospace commented on #31
In this case yes, as the base image we use contains that already, as they are s2i-thoth base also.

[2021-07-08 20:59] pacospace commented on #35
cc @MichaelClifford

[2021-07-08 21:00] pacospace commented on #36
cc @MichaelClifford, so we can skip some steps of the tutorial. wdyt?

[2021-07-08 21:02] pacospace commented on #29
@harshad16 did we get new jupyterlab-requirements in the new ODH release of the s2i-lab-elyra image?

[2021-07-08 21:37] oindrillac opened #40 "Set up Automation Flags in Elyra demo repo"
As the Open Data Hub platform, I want to set/inject some Notebook Feature Flags via ENV var, so that I declare which environment services can be assumed as available to the execution environment of the notebook

Currently, we have code fragments and import statements in the [notebooks](https://github.com/AICoE/elyra-aidevsecops-tutorial/tree/master/notebooks) which are commented out and uncommente

[2021-07-08 21:53] harshad16 commented on #29
i had already released them ,forget to open a pr to odh :sweat:
https://github.com/opendatahub-io/odh-manifests/pull/455

[2021-07-09 13:28] pacospace commented on #15
- It should not consider .github templates already present
- It should not place docs repo in docs/docs

cc @MichaelClifford

[2021-07-09 14:12] MichaelClifford commented on #13
initial version of elyra tutorial jupyterbook can be viewed here: https://aicoe.github.io/elyra-aidevsecops-tutorial/README.html

[2021-07-09 14:30] MichaelClifford opened #41 "Create flowchart for existing tutorial content to guide edits and content refinement."
Before we start making specific edits to the tutorial content, we need to create an outline for how we want to update the tutorial to meet the needs of project meteor in light of the additional automation we are developing. The first steps to create this outline is to take stock of the existing content and tutorial flow as a flowchart. From there we can more easily, as a group, decide what needs r

[2021-07-09 20:51] chauhankaranraj commented on #32
Update: I had configured the runtime to use endpoint `https://s3-openshift-storage.apps.zero.massopen.cloud`, but changing it to `http://s3.openshift-storage.svc/` fixed the 503 error. Closing this issue.

[2021-07-09 20:51] #32 closed

[2021-07-12 08:54] tumido commented on #26
Imvestigation needed. Can we parameterize JH spawner request to redirect to a path within the JupyterLab instance immediately after spawning the notebook?

Example:
1. spawning notebook from an URL: https://jupyterhub-opf-jupyterhub.apps.zero.massopen.cloud/hub/spawn?configuration-files-analysis:latest
2. Redirect to a path within the JupyterLab via relative [`/tree` url](https://jupyterlab.readth

[2021-07-12 09:09] tumido commented on #33
@hemajv I think one step got out of order here and I've added few bits, otherwise it looks great :slightly_smiling_face:

![image](https://user-images.githubusercontent.com/7453394/125261530-a35a2b00-e301-11eb-9385-a2c7425e04c6.png)

1. The AICoE-CI build pipeline creates an image no matter if the user is logged in to JupyterHub or not. This step is not dependent on it.
2. Metrics are collected fr

[2021-07-12 09:13] tumido commented on #35
I'm confused @pacospace if this should be done after the image is spawned, it can't be part of the build pipeline. Can you please clarify when you expect this step to happen?

If it's part of the build phase, can this be included as a custom s2i assembly script? It seems fairly specific for this given use case/repository, isn't it?

[2021-07-12 09:14] tumido commented on #35
/area comet
/area shooting-star

[2021-07-12 09:21] tumido commented on #36
Not sure about this.. I think we wanted each Meteor user to input their own URL in Meteor and get their own images. How this one fit in?

/area comet

[2021-07-12 09:22] pacospace commented on #35
Yes build process sounds good, s2i assembly script seems to be the right place.

In this way, if notebooks are missing dependencies, the build process will fail also as those are not reproducible.

[2021-07-12 09:26] pacospace commented on #36
what do you mean by their own URL? The Kubefloe Pipeline URL should be discovered automatically by the pipelines populating the environment, so the user does not have to worry or making errors, because the wrong URL of kfp is used or if ceph bucket URL is wrong. Those should be checked initially by the pipeline and eventually fail and provide to users inputs on what to do. "You are requesting a UR

[2021-07-12 09:36] tumido commented on #36
repository URL, since that's the only expected user input to project Meteor. But that's irrelevant, since I probably missed the point of this issue. :slightly_smiling_face:

Yup, I certainly misunderstood the issue then, sorry. :slightly_smiling_face:  I agree with that. Can you clarify which configmap are you talking about then? You mean like setting environment variables for JupyterHub pods?

[2021-07-12 09:38] tumido commented on #36
This #32 seems like a direct manifestation of what you're talking about, right @pacospace?

[2021-07-12 09:54] pacospace commented on #36
Exactly!!

[2021-07-12 09:56] pacospace commented on #36
Don't remember exactly how it was done at the time, need to check. @vpavlin might remember where those changes need to be inserted, so we can make the pipeline set those configuration (runtime and runtime images) for the Elyra image.

[2021-07-12 10:23] pacospace commented on #36
Or we can use the elyra CLI to set those also in the assembly script actually during the build process

[2021-07-12 12:23] tumido opened #44 "Ration the JupyterBook pipeline implementation"
https://github.com/AICoE/meteor/issues/15#issuecomment-874832849

Define https://github.com/AICoE/meteor/issues/15 in better detail so it can be solves during the next sprint

That was AI for @tumido  and @harshad16

[2021-07-12 12:23] tumido commented on #44
/area comet

[2021-07-12 12:26] tumido opened #45 "Trigger a build (AICoE-CI) pipeline from meteor"
Trigger a notebook image build pipeline via a webhook call from meteor shower.

/area comet

[2021-07-12 12:27] tumido opened #46 "Deploy meteor shower on OperateFirst"
Deploy from main branch to OperateFirst so we have a live staging environment and a feeling that the product is real.

/area comet

[2021-07-12 13:21] goern opened #47 "Decide how to build and deploy the static content JupyterBook"
/kind feature
/priority backlog
/area shooting-star

[2021-07-12 13:36] #34 closed

[2021-07-12 13:36] #13 closed

[2021-07-12 13:36] #44 closed

[2021-07-12 13:48] goern commented on #38
/kind feature
/priority backlog

[2021-07-12 13:51] harshad16 opened #48 "Create s2i image builder can serve jupyterbook HTML content"
This image would help with the meteor workflow in various places.

[2021-07-12 13:52] harshad16 commented on #48
cc: @tumido @4n4nd @pacospace

[2021-07-12 13:55] durandom commented on #15
Instead of editing the original issue:

1. the MVP would be an s2i image that builds a book, adds the outup to the image and serves it via a webserver. It's probably an extension of the available nginx/httpd s2i images

that probably means getting rid of the UUID and PVC bucket.
Maybe create a new issue for the s2i image and then revisit this issue?

[2021-07-12 13:56] 4n4nd commented on #48
@harshad16 would this image be similar to the https://github.com/AICoE/s2i-custom-notebook image, so that it can be used as a base image for the subsequent images used in Meteor?

[2021-07-12 13:58] goern commented on #40
how is https://github.com/AICoE/meteor/issues/36 related?

[2021-07-12 14:06] vpavlin commented on #36
Well, I had a custom patch to JupyterHub Singleuser Profiles for the workshop which allowed mounting CMs, Secrets and EmptyDir, so that we could pre-generate a CM with the KFP URLs and then just mount it for every user. I don't think we have actually merged that patch, but I can update it and get it merged if you need/want to

[2021-07-12 14:12] goern commented on #15
@tumido please edit 1.: where does the UUID come from?

[2021-07-12 14:17] pacospace commented on #40
is `USE_CEPH`, not giving the expected purpose? or do we want to have general env variables? e.g. `IS_AUTOMATION`

[2021-07-12 14:18] pacospace commented on #36
That would be great @vpavlin!! cc @tumido wdyt?

[2021-07-12 14:23] tumido commented on #40
@pacospace what about something from what we have available in JH environment on each pod?

![image](https://user-images.githubusercontent.com/7453394/125303898-70c62780-e32d-11eb-8a89-49e0a8e7e6b0.png)

[2021-07-12 14:30] pacospace commented on #40
So we want to add new defaults for the pod? I like it!!

[2021-07-12 14:41] oindrillac commented on #40
Does this mean we will have a pod level env variable like AUTOMATION, and when its set to true, all notebooks default to `USE_CEPH` = True. That would be useful!

We have a `USE_CEPH`, a notebook specific ENV variable, which should serve the purpose of saving data to Ceph. But right now we have an additional step to also go an uncomment the sections in the notebook which use `USE_CEPH` and comment

[2021-07-12 15:36] harshad16 commented on #48
No @4n4nd , it would just a base image with jupyterbook addition :)
and would be used in the pipeline to run some commands

[2021-07-12 15:39] pacospace commented on #15
Depends-On: https://github.com/AICoE/meteor/issues/48

[2021-07-13 10:05] tumido commented on #40
I was thinking more in line like.. what about we reuse the variables. Like.. why to define new `USE_CEPH` variable if we can lookup the existing `S3_ENDPOINT_URL`? So if there's an s3 endpoint defined in the env, let's use it, etc. What would you think about that?

[2021-07-13 10:07] tumido commented on #15
@goern  thanks, updated. It comes from the web interface and is generated when the "order form" is submitted. It's meant to couple the order with images and order detail page and what not.

[2021-07-13 10:09] goern commented on #40
ja, there is a set of ENV injected by OpenShift, which might all be platform (aka ODH) specific, and a bunch of ENV we want the user to provide, right?

[2021-07-13 10:12] tumido commented on #48
As @harshad16 pointed out. This image will be a builder image with following spec:

1. based on s2i-nginx or s2i-httpd
2. includes additional jupyter-book binary
3. includes a custom assembly script step executing the `jupyter-book build` and moving files around so they the nginx can serve them.

[2021-07-13 10:13] tumido commented on #48
Together with @harshad16  we also decided to host this image together with other s2i images in the thoth station, is that correct @harshad16 ?

[2021-07-13 10:22] fridex commented on #48
@tumido we have s2i base images with gunicorn that are available and offered by thoth+python maintenance team. I saw you are building the service in go, what is the reason for that?

[2021-07-13 10:28] tumido commented on #47
I think we clarified the strategy on the sprint planning. Let me summarize it here:

- Initiate a different build pipeline using the same source repository
- This pipeline runs an s2i build into a nginx/httpd container
- As a middle step during the build process the repo is funneled through `jupyter-book build` and the resulted HTML files are then server by the nginx
- Shower deploys the pod in Me

[2021-07-13 10:30] tumido commented on #36
@pacospace @vpavlin that would definitely do for now. :slightly_smiling_face:

I wonder what is the way looking forward, how can we generalize it for new images, for any image... Is there a way to inject those variables via an API call to JH spawner or something?

[2021-07-13 10:36] tumido commented on #48
In this case we need something that would serve static HTML - this is html is generated from `jupyter-book build` binary. We don't need much python in this case.

@fridex the go service is unrelated to this ticket. Reason for go is that in the next iteration the codebase will be reused and split into a OpenShift operator and a lightweight web service. It's easier to work with kubernetes in golang.

[2021-07-13 12:03] #33 closed

[2021-07-13 15:48] oindrillac commented on #40
@tumido I like this idea. So we can configure the notebooks to by default read/write from s3 if cloud object storage credentials are available in ENV variables. And we will let the user override this if they wish to run locally.

[2021-07-13 21:05] goern commented on #47
I'm unsure about the namespace schema we use for meteor.. otherwise

/lgtm

[2021-07-14 08:54] pacospace commented on #41
what do we use for creating flowcharts?

[2021-07-14 12:54] aakankshaduggal commented on #41
We used [draw.io](https://app.diagrams.net/) for the flowcharts.

[2021-07-14 13:12] pacospace commented on #41
Thanks @aakankshaduggal 🚀 💯

[2021-07-14 19:16] Shreyanand opened #50 "Set up Google Analytics"
For issue #18, set up google analytics dashboard for the Meteor Webpage. Once it is available, we will customize the dashboard to reflect our requirements.

To do:
- Integrate Google Analytics account (currently using OF account) into test JupyterBook
- Track GA metrics in a shareable dashboard

Acceptance

- [X] Link to Google Analytics dashboard

[2021-07-14 19:57] aakankshaduggal opened #51 "Setup Prometheus for Metrics"
For issue #18, we would need to configure Prometheus for scraping the Meteor application. Once this is setup, we can look into having the metrics defined in #17, #58 be available in Prometheus.

**Acceptance Criteria**

We will need to setup metrics for:

- [x] Meteor web application: http://meteor-shower-aicoe-meteor.apps.zero.massopen.cloud/
- [x] Meteor operator
- [x] Pipelines (Tekton build pi

[2021-07-14 20:03] Shreyanand commented on #50
@tumido How much is this demo associated with or dependent on the Operate First world? Asking so that we can figure out if we need a new google analytics account for this or if we can reuse the OF account.

[2021-07-14 21:42] tumido commented on #50
@Shreyanand the demo is fully independent and can be hosted anywhere, however we plan to deploy it to Operate First so for now we can reuse op1st account. If we're integrating Google Analytics, we have to make it configurable going forward anyways, so... right now, let's not worry about which account to use and use what we have available - op1st account . :slightly_smiling_face:

[2021-07-15 12:13] durandom opened #52 "Seamless switch from rendered book to interactive environment"
As a User of a pre-rendered JupyterBook,
I want to quickly jump into an interactive environment,
So that I don't lose context
And so that I continue reading the book

The background is two-fold:
First, jumping into an interactive environment should be quick, i.e.
* we might have to pre-load a pool of environments
* we might want to be able to connect to remote kernels from within the rendered book

[2021-07-15 12:17] durandom opened #53 "Patternfly theme for JupyterBook"
As a 3rd party user of JupyterBook,
I want to provide my own theme for a rendered book,
So that it looks visually integrated

If we want to host tutorials in RH sandbox, or universities, they probably need to match their styleguides

for future consideration

[2021-07-16 13:29] harshad16 commented on #48
that is correct :+1:

[2021-07-16 18:58] oindrillac commented on #41
Team _shooting_ -⭐️ has drafted a content outline and a flowchart which highlights the proposed content flow and the recommended modifications to the current content in the [tutorial](https://github.com/AICoE/elyra-aidevsecops-tutorial.git) here : https://docs.google.com/spreadsheets/d/1pEIYt8chf-HVIesujlrcKw-m42RY__Ho4bKT1kjmg9Y/edit?usp=sharing.

This is now ready for review by the rest of the t

[2021-07-16 21:30] hemajv commented on #50
We have setup a Google Analytics account for Project Meteor purposes and tried configuring it with one of our fork of the Elyra tutorial. However, we ran into an issue of the new Google Analytics tracking ID not being compatible for tracking JupyterBook hosted websites. This issue seems to be discussed [here](https://github.com/executablebooks/jupyter-book/issues/1300). It appears to be fixed in S

[2021-07-19 08:25] pacospace commented on #35
`horus`: jupyterlab-requirements CLI -> https://github.com/thoth-station/jupyterlab-requirements#horus-jupyterlab-requirements-cli

[2021-07-19 12:59] MichaelClifford opened #55 "Edit content of repository to match outline"
**Update (23/08/21)**

[This document](https://docs.google.com/document/d/1lBVgFuKoNzYMUDzK9l_RA6ooNnav6MSOEorXZFnarUU/edit) contains the new list of changes and their associated issues in the tutorial repo.

Edit content of repository to match outline found here:
https://docs.google.com/spreadsheets/d/1pEIYt8chf-HVIesujlrcKw-m42RY__Ho4bKT1kjmg9Y/edit#gid=0

- [x] Explore Notebooks
- [x] download_

[2021-07-19 13:00] MichaelClifford commented on #55
related to #41

[2021-07-19 13:06] #41 closed

[2021-07-19 19:15] Shreyanand opened #56 "Opting out of tracking"
As a user of the Meteor application, I want a choice to opt out of tracking  my content. I may not like my config file changed with an Analytics tracking ID from the Meteor application.

Discussion

1. How are we planning to inject the tracking ID?
  - By changing the config at source? The user may not like it and it will add a step of creating a PR at source repository when we have the URL.
  - B

[2021-07-19 19:48] Shreyanand commented on #50
I was able to get it working at my fork. It can be seen [here](https://shreyanand.github.io/elyra-aidevsecops-tutorial/README.html).

If you clicked on it, we'll know :rofl:

[2021-07-20 16:17] isabelizimm opened #57 "Readme"

[2021-07-20 16:22] isabelizimm commented on #57
opening this in https://github.com/aicoe-aiops/meteor-demo instead

[2021-07-20 16:22] #57 closed

[2021-07-21 13:14] goern commented on #56
/unassign @goern

[2021-07-23 19:00] #11 closed

[2021-07-23 19:00] MichaelClifford commented on #25
closed by https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/186

[2021-07-23 19:00] #25 closed

[2021-07-23 19:04] MichaelClifford commented on #31
closed by https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/200

[2021-07-23 19:04] #31 closed

[2021-07-23 19:07] hemajv commented on #50
We have a dashboard available here: https://datastudio.google.com/reporting/5115a591-f004-4e5f-88e2-d38cc2d26561
(the data is being collected from Shrey's fork of the Elyra tutorial)

[2021-07-23 19:08] #50 closed

[2021-07-23 19:24] hemajv opened #58 "Identify required Prometheus metrics"
Once we have Prometheus setup (#51), we should check to see what metrics are available and retain/add relevant metrics needed based on those defined [here](https://github.com/AICoE/meteor/blob/main/docs/metrics.md)

**Acceptance Criteria**

- [x] Identify required metrics
- [x] Add any custom metrics required to be included in Prometheus

[2021-07-23 19:37] oindrillac commented on #37
Resolved by https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/197

[2021-07-23 19:37] #37 closed

[2021-07-23 19:37] MichaelClifford commented on #40
closed by https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/197

[2021-07-23 19:37] #40 closed

[2021-07-23 19:37] oindrillac commented on #24
Resolved by https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/197

[2021-07-23 19:37] #24 closed

[2021-07-23 19:37] oindrillac commented on #23
Resolved by https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/197

[2021-07-23 19:38] #23 closed

[2021-07-24 06:24] tumido commented on #46
both https://github.com/AICoE/meteor-operator and https://github.com/AICoE/meteor/pull/43 are deployed at https://console-openshift-console.apps.zero.massopen.cloud/k8s/ns/aicoe-meteor/pods

[2021-07-24 06:25] #46 closed

[2021-07-26 14:00] pacospace opened #59 "Use Meteor in a workshop"
Target workshop: https://github.com/operate-first/support/issues/322
Deadline: end of August 2021

[2021-07-26 15:03] hemajv opened #60 "Google Analytics data available externally"
Now that we have GA setup for fetching metrics for the Meteor application (#50), we should also look into making this data available externally i.e. exporting the data and analyzing within notebooks for performing additional analysis such as consolidating data from different sources, correlation of metrics etc.

**Acceptance Criteria**

- [ ] Export GA metrics and have it stored in Ceph/Trino DB
-

[2021-07-26 18:10] #38 closed

[2021-07-28 14:57] riekrh opened #62 "Add deep dive into AICoE Pipelines to Meteor Flowchart"
The Meteor flow chart should zoom in on the AICoE Pipelines section and explain what the steps in it are, explain Toth, etc.

https://github.com/AICoE/meteor/blob/main/docs/images/project-flowchart.png

[2021-07-28 17:47] hemajv commented on #58
Some metrics we can look at from an Operations/Technical Architect persona for measuring our pipelines:

- Tekton pipeline metrics - https://tekton.dev/docs/pipelines/metrics/

cc @harshad16 @tumido @pacospace any other metrics apart from those mentioned [here](https://github.com/AICoE/meteor/blob/main/docs/metrics.md), that we would want to consider? We can discuss in this issue and narrow down t

[2021-07-29 10:20] pacospace opened #63 "Some metrics are not for Data Scientist but for AIDevOps engineer"
The following metrics are not for the Data Scientist, this persona is not able to solve issues on this, it's the AIDevOps engineer that takes care of it.

Metrics | Metric Definition | Metric Calculation | Targeted Persona | Data Source
-- | -- | -- | -- | --
Model deployment time | Time taken for model to be deployed |   | Data Scientist | TBD
ML deployment endpoint latency | Latency of deploymen

[2021-07-29 18:52] hemajv commented on #51
It seems like the meteor app itself does not expose any metrics at the moment, i.e. there is no `/metrics` endpoint available for Prometheus to scrape metrics from. We will need to look into exposing metrics for the meteor app deployed here: http://meteor-shower-aicoe-meteor.apps.zero.massopen.cloud/

[2021-07-30 13:45] hemajv opened #64 "Configure Google Analytics for upstream Elyra tutorial/Meteor web page"
After successfully testing and setting up GA for one of our forks of the Elyra tutorial (#50), we should now configure GA for the upstream Elyra tutorial and/or Meteor webpage

**Acceptance Criteria**

- [x] Setup GA for Meteor webpage
- [ ] Setup GA for upstream Elyra tutorial
- [x] GA dashboard to visualize metrics

[2021-07-30 15:52] hemajv commented on #51
After discussing with @harshad16 it looks like the metrics can be configured for the different components as follows:

1. **Meteor web application/service** - We will need to expose a `/metrics` endpoint for the web service
2. **Meteor operator** - We will need to expose a `/metrics` endpoint for the meteor operator
3. **Pipeline** - Since we are using Tekton pipelines and it is part of OpenShift

[2021-07-30 16:11] hemajv commented on #64
We are wondering if we need to have GA tag configured with the Elyra tutorial and Meteor web page separately or if it would be possible to have the GA tag configured with just the Meteor web page and this should automatically also fetch data for the rendered Elyra tutorial Jupyter book?

@tumido any thoughts on which way we should go about this? (based on how the Meteor web page + Jupyter book wil

[2021-07-30 16:28] hemajv commented on #64
Yes, we tested it out for the Jupyter book by adding a GA tag in the `config.yaml` [here](https://github.com/Shreyanand/elyra-aidevsecops-tutorial/blob/master/_config.yml#L24) and it works!

So I guess it narrows down to deciding between benefits of having separate tags or just one tag, which depends on answering some following questions:

- Can the Jupyterbook be reachable separately i.e. without

[2021-08-04 15:05] Shreyanand opened #65 "[Feature request] Add OAuth via OCP for user identification"
As a user of the meteor application, I would like to log in the application and see all the Jupyterbooks and images I created in the past.

Acceptance

- [ ] Add OAuth via OCP
- [ ] Filter and show outputs relevant to the logged in user

[2021-08-04 15:09] Shreyanand commented on #64
to have separate tags for the Meteor web page and the Jupyterbook

That should be the case, right? Once the pipelines generate a link for the book, it should remain there unless redeployed...

If we have information for all the users who visited the tutorial, we could separate the user views that came from meteor and the ones that came from other sources through the referrals data that GA collects

[2021-08-04 15:55] #2 closed

[2021-08-04 20:49] isabelizimm commented on #60
When doing some research into this, it seems like this is best achieved by using the [Google Analytics API](https://console.cloud.google.com/apis/library/analytics.googleapis.com?project=gentle-epoch-321920&folder=&organizationId=&supportedpurview=project). This service looks to be an add on, but there is some sort of trial basis as well.

When planning for how to gather data, we could also use CS

[2021-08-05 16:18] tumido commented on #64
GA for Meteor Shower works:
![image](https://user-images.githubusercontent.com/7453394/128384934-4f45fa7b-5e01-4c04-b56a-0474f5cd73d7.png)

https://analytics.google.com/analytics/web/#/p281781571/reports/reportinghub

Using GA4 (the new gtag)

[2021-08-05 16:34] hemajv commented on #51
Thanks to @tumido @4n4nd for all your help! :heart:

We now have metrics for:

1. **Meteor web app**: https://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=%7Bservice%3D%22meteor-shower%22%7D&g0.tab=0&g0.stacked=0&g0.range_input=1h
2. **Meteor operator**: https://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=%7Bservice%3D%22meteor-operator-contro

[2021-08-05 20:27] hemajv commented on #62
We have added an in-depth view of the AICoE pipelines in the flowchart here: https://app.diagrams.net/#G1AW6nTpTbdmZ3r8ymIpke2VoqE3OJlKYu

![Screenshot from 2021-08-05 16-26-36](https://user-images.githubusercontent.com/7343099/128416527-8fc7e515-36a8-4829-afc7-ff707727695e.png)

[2021-08-05 20:31] hemajv commented on #64
We have a GA dashboard for the Meteor Shower app here: https://datastudio.google.com/reporting/5115a591-f004-4e5f-88e2-d38cc2d26561
thanks @isabelizimm :partying_face:

[2021-08-05 20:48] Shreyanand commented on #62
@harshad16 @tumido If there's anything missing or incorrect here, we can iterate on this. Thanks for laying it out for us :)

[2021-08-06 05:58] durandom commented on #62
@hemajv @Shreyanand for the metrics: I would a prometheus server and google analytics to the side and just point arrows to the boxes where you're scraping metrics from. Like in the architecture at https://github.com/prometheus/prometheus

[2021-08-06 12:28] aakankshaduggal commented on #62
Sure thing @durandom! We will add this as well.

[2021-08-06 20:20] hemajv opened #79 "Grafana dashboard for Prometheus metrics"
Based on the metrics identified (#58) and made available in Prometheus (#51), we should create a Grafana monitoring dashboard to visualize these metrics.

[2021-08-10 20:56] hemajv commented on #58
Now that we have configured Prometheus metrics, let's discuss here what we think are the most relevant metrics we should keep
@4n4nd @Shreyanand @isabelizimm @aakankshaduggal @harshad16 @pacospace

[2021-08-10 21:13] 4n4nd commented on #58
Suggested Meteor Operator Metrics:
* CRs (`Meteors`) deleted/active
* Deployments/Services/ImageStreams/Routes active/deleted

[2021-08-11 13:33] #62 closed

[2021-08-11 18:33] isabelizimm commented on #58
With the previous MOC latency issues in mind, it might be interesting to track latency as well for user experience. :)

[2021-08-11 19:05] hemajv commented on #51
We also have the pipeline metrics: https://prometheus-portal-opf-monitoring.apps.zero.massopen.cloud/graph?g0.expr=%7Bservice%3D%22tekton-pipelines-controller%22%7D&g0.tab=1&g0.stacked=0&g0.show_exemplars=0&g0.range_input=1h
thanks to @harshad16 :tada:

[2021-08-11 19:30] #51 closed

[2021-08-11 19:30] #18 closed

[2021-08-12 14:23] Shreyanand commented on #56
@harshad16  For point 1 in discussion, do we have a preferred solution?  Based on the discussion here, we will know how to move ahead with https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/234. I think we should not change the source repository and do everything in our pipelines but I could be wrong.

[2021-08-12 16:17] harshad16 commented on #56
i agree, we would do it through the pipeline, we can have opt option from the meteor website or from the .aicoe-ci.yaml file.
let keep the discussion for that.

[2021-08-12 16:55] hemajv commented on #56
yes I think that's what we have decided. If its going to be via pipelines then we can close https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/234. And we still need to figure out how we want to provide the opt-out option for users

[2021-08-12 18:33] harshad16 commented on #58
| Pipeline | Label | Details |
|------------|---------|-----------|
| tekton_pipelinerun_duration_seconds_[bucket, sum, count] | pipeline={jupyterbook:jupyterhub}, namespace={aicoe-meteor}, status={Running:Succeed:Failed}| |
| tekton_pipelinerun_taskrun_duration_seconds_[bucket, sum, count] | pipeline={jupyterbook:jupyterhub}, namespace={aicoe-meteor}, status={Running:Succeed:Failed}, task={jupyte

[2021-08-16 10:11] tumido commented on #15
Resolved via: https://github.com/AICoE/meteor-operator/pull/6

[2021-08-16 10:11] #15 closed

[2021-08-16 10:12] tumido commented on #48
Resolved via: https://github.com/AICoE/meteor-operator/pull/6

using HTTPD S2I container

[2021-08-16 10:12] #48 closed

[2021-08-16 10:13] tumido commented on #8
Using internal image registry with associated image streams for now (meteor resource delete also deletes the imagestream, which makes image registry to prune the images)

[2021-08-16 10:13] #8 closed

[2021-08-16 10:14] tumido commented on #47
Resolved via: https://github.com/AICoE/meteor-operator/pull/6

We build the repo using s2i httpd container now.

[2021-08-16 10:14] #47 closed

[2021-08-16 10:15] tumido commented on #7
Not needed now, we use internal registry. This may become relevant if we choose to support quay/external registries.

[2021-08-16 10:15] #7 closed

[2021-08-16 10:16] tumido commented on #6
We aim for simplicity in the UI now, we defer to OCP console for details. Resolved via #89

[2021-08-16 10:17] tumido commented on #9
Resolved via https://github.com/AICoE/meteor-operator/pull/6

[2021-08-16 10:18] #9 closed

[2021-08-16 10:19] tumido commented on #10
Implemented via https://github.com/AICoE/meteor-operator

[2021-08-16 10:19] #10 closed

[2021-08-16 15:10] tumido opened #90 "Tech debt/backporting tracker"
Umbrella issue for tech debt and backporting:

- [x] Remove deployment logic from the operator and move it to a tekton pipeline
- [ ] Backport `.aicoe.yaml` analysis to notebook pipeline in AICoE
- [ ] Backport restructuring changes to AICoE pipelines from meteor

[2021-08-16 15:11] tumido commented on #90
cc @goern

[2021-08-16 15:13] tumido commented on #90
Consider converging AICoE-CI and changes from meteor in a tekton catalog bundle image.

https://tekton.dev/docs/pipelines/pipelines/#tekton-bundles

[2021-08-16 15:18] tumido commented on #56
Question: doesn't each jupyterbook image render on different domain? Doesn't it also need a different tracking ID? I don't think we should be generating tracking IDs and updating our GA config during th eJupyterBook build.

Technical details if the above doesn't apply and this is not blocked:
1. UI can show a banner/toggle/advanced menu, whatever looks nice that allows you to opt out from injectin

[2021-08-17 12:16] goern opened #92 "add "what Thoth knows about you project" teaser feature"
As a User of the Meteor Web Site,
I want to check a box,
so that a Pull Request is created on the repository I submitted,
and so that the PR give interesting insights on my project.

**Acceptance Criteria**
- [ ] checkout is visible on UI
- [ ] PR is created on user's repository
- [ ] metrics about 'checked boxes', 'created PR', 'accepted PR' is visible in a dashboard

[2021-08-18 12:12] durandom commented on #92
This should be "just another tekton pipeline" for the controller.
I.e. it'll trigger a pipeline that creates a PR as implemented in https://github.com/thoth-station/core/issues/314

Maybe this is an opportunity to refactor the pipeline management in the operator, so that it reuses as mucho code as possible.

I.e. suppose we add `thoth_pr` to the CR now:

[code]

We should only "configure" a mappin

[2021-08-18 13:55] goern commented on #92
I wonder about the 'configuration' here. As I understand the operator pattern, it is the controller's responsibility, to make sure, that `thoth_pr` will always be in state `true`, so we need to have a bit of logic in the controller, to reconcile a TektonPipelineRun until it yields `true`. Which pipeline to be used, and what parameters, to create the TektonPipelineRun, is hardcoded within the contr

[2021-08-18 20:37] tumido commented on #92
So.. I think there are 2 areas in which we want to extend the CRD. This may be a too broad answer to your issue but I think it's necessary to outline it anyways:

1. Let's have a secondary CRD called `Shower` that will deploy the shower web UI and control it for us.
2. `Shower` CRD will also host `meteorDefaults` which will be sourced/merged into each `Meteor` if not specified otherwise (in the `M

[2021-08-18 22:47] tumido commented on #92
Naturally, we're not pursuing most of this for DevConf.US. For that event we need the base minimum functional and if it means hardcoding stuff for the time being, so be it.😉

[2021-08-19 06:45] goern commented on #92
1. sounds like a Helm with no CRD ;)

2. I am unsure about the purpose of 2. One thing that I would see as a ConfigMap/Secret is pushing, its not the job of the controller to push anything, nor to hold a configuration for pushing.

3. I object to having a configurable workflow engine for tekton pipelines being implemented as a controller. This sounds a lot like Argo Workflows to me.

4. (again) so

[2021-08-19 11:43] tumido commented on #92
That's precisely the pattern why operators exists though. Example: Grafana operator, Openshift Gitops, Keycloak, Openshift Pipelines, Openshift Serverless, ODF... all of it is using a CR to deploy "the thing", usually a deployment+service+route+extras and maintain it.

That's a pattern used in most of the operators as well. The CR holds a configuration passed to the reconciled resources. This is a

[2021-08-19 15:57] #6 closed

[2021-08-20 08:57] #45 closed

[2021-08-20 10:15] fridex commented on #92
Operators are interesting and widely adopted piece of technology. Their use span multiple projects that use them in various ways depending on their needs. No doubts about that. All the things you mentioned can be implemented in a golang operator. The real question here is the overall cost of such a solution, maintainability, extensibility, and fitting it into a bigger picture.

The fact that appli

[2021-08-20 10:48] tumido commented on #92
I think we're kidnapping this issue again, but why not in the end...

I think there are certain areas of this project in which you simply _need_ the operator. For example:
- We should be able to garbage collect resources deployed by Meteor _and_ be able to extend/modify each meteor lifespan. Using Argo Workflows we can't do that cross namespace. Simply because you can't tie owner references across

[2021-08-20 11:10] fridex commented on #92
You mentioned the cleanup cronjob below. The setup (role bindings and deployment requirements) as well as its logic is pretty much the same as in the case of meteor-operator.

This can be modeled in a workflow. One can also provide multiple workflows that can be spawned based on conditions.

What if I do not want? What if I want to invest into a new node in the cluster that will fit the resource n

[2021-08-23 13:47] hemajv commented on #79
We have an initial dashboard here: https://grafana-opf-monitoring.apps.zero.massopen.cloud/d/3n7NXBn7k/meteor-shower?orgId=1

[2021-08-23 14:05] goern opened #101 "Change Branding from Operate First to AICoE"
just looking at the elyra-tutorial, we see an "Operate Firs" branded jupyterbook, as Meteor is an AICoE initiative, we should change the branding accordingly

There is also a footer reading 'Powered by Shooting Star' which should be replaced by a AICoE branding

[2021-08-23 14:33] goern commented on #58
here is a small set of metrics I'd like to see

As a Meteor Service Owner, I would like to have a look at a dashboard,
so that I can see the number of repositories build by meteor,
and so that I can see the number of deployed repositories,
and so that I can see the number of unique users/orgs using meteor
and so that I can see that the number of non-satisfied user requires is below 95%
and so that

[2021-08-23 14:44] oindrillac commented on #101
/assign @oindrillac

[2021-08-23 14:50] MichaelClifford opened #102 "Run through Tutorial using Meteor"
Deploy the tutorial with Meteor and log any issues were the tutorial breaks down.

Acceptance Criteria:

- [ ] Document/create issues noting any problematic points in the demo while using meteor.

[2021-08-23 15:22] tumido commented on #3
We proved that it works and it's successfully implemented via https://github.com/AICoE/meteor-operator/pull/16

[2021-08-25 21:31] isabelizimm opened #108 "user experience: how to start tutorial"
When launching the Elyra tutorial from the Meteor Web App, I am faced with this screen.

![meteorsc](https://user-images.githubusercontent.com/54685329/130866561-c9ab5f27-86ea-440c-aac5-94876fe4d8b2.png)

As a "new user" it may be unclear on how to start the tutorial, or when I should switch between the Jupyterbook and JupyterLab.

[2021-08-26 16:35] isabelizimm opened #112 "user experience: :rocket: button inside jupyterbook gives 404 error"
When you click on the rocket within the JupyterBook to launch into JupyterLab, there is a 404 Error
![clickonrocket](https://user-images.githubusercontent.com/54685329/131001260-48b9c642-41e6-434e-9f13-0bb34e61c6f2.png)
![404meteor](https://user-images.githubusercontent.com/54685329/131001248-854dbb86-9db5-41fd-a5fd-b4553e962116.png)

I would like for this to launch directly into the JupyterLab in

[2021-08-27 14:00] MichaelClifford opened #113 "Change button text on order page"
Should these buttons at the bottom be changed to say, "Open with JupyterHub" and "Open as JupyterBook"?

![image](https://user-images.githubusercontent.com/4494906/131138983-90825220-d1c2-4603-91a5-d560b483598e.png)

[2021-08-27 14:21] MichaelClifford opened #114 "Intern Server Error when selecting"
![image](https://user-images.githubusercontent.com/4494906/131142211-6b8f08f3-468f-40a7-9a4d-fa59ad04ec2f.png)

[2021-08-27 14:26] MichaelClifford opened #115 "Internal Server Error when selecting "open as jupyterhub""
![image](https://user-images.githubusercontent.com/4494906/131142211-6b8f08f3-468f-40a7-9a4d-fa59ad04ec2f.png)

I get the above error after shutting down my jupyterhub pod a selecting "open as jupyterhub" from the meteor order page.

[2021-08-30 13:52] tumido commented on #113
Hm.. my biggest problem with that is that "JupyterHub" and "JupyterBook" labels are visually just too similar, it's confusing... The point of good UX is that user knows "what's up" at a first glance. It's easier to differentiate "JupyterHub" and "Website" than "JupyterHub" and "JupyterBook". I wonder what can we do about it. Any suggestion?

[2021-08-30 13:53] tumido commented on #56
Bump

[2021-08-30 13:56] tumido commented on #58
to add to the @harshad16 's comment above. Those metrics are available via Openshift Pipelines, those are available always and as a baseline. In addition to that I've consolidated custom metric definitions that we generate during our pipeline runs and push via pushgateway. Here's a list:

https://github.com/AICoE/meteor-operator/blob/163cd9a30b50a5bb05b2a9a33895ef13c2b982c4/config/pipelines/tasks/

[2021-08-30 14:08] isabelizimm commented on #101
Addressed [here](https://github.com/AICoE/elyra-aidevsecops-tutorial/pull/266)

[2021-08-30 14:24] 4n4nd commented on #115
This was a known issue in Jupyterhub MOC/Zero env. Issue: https://github.com/operate-first/support/issues/365

[2021-08-30 14:47] Shreyanand commented on #113
Suggestion: "Run code in JupyterHub" and "Read docs with JupyterBook"

[2021-08-30 15:12] #101 closed

[2021-08-30 18:58] MichaelClifford commented on #113
I understand the similarity of the two words makes it tough. But I think "open as website" just struck me as a bit confusing. I like @Shreyanand 's suggestion of differentiating by the verb at the beginning. WDYT?

[2021-08-31 13:42] tumido commented on #115
Closing as duplicate of https://github.com/operate-first/support/issues/365

Feel free to reopen if this manifests in the devconfus cluster as well.

[2021-08-31 13:42] #115 closed

[2021-08-31 13:42] tumido commented on #114
Duplicate of https://github.com/AICoE/meteor/issues/115

[2021-08-31 13:42] #114 closed

[2021-08-31 13:55] tumido commented on #112
Unless we touch the repo content we can't modify the value. Can you please check if JupyterBook can consume values via environment variables?

[2021-08-31 14:46] isabelizimm commented on #56
for devconf.us, we will be adding a disclaimer to the front page of the website to inform users of the information that is being tracked.

[2021-08-31 14:46] isabelizimm commented on #56
/assign @isabelizimm

[2021-08-31 15:16] tumido opened #124 "Sanitize input URL"
`.git` breaks the app.

[2021-08-31 15:39] tumido opened #125 "JupyterHub image folder creation"
When spawning there's no repo-<date> folder. Check with the builder image.

[2021-08-31 15:40] tumido opened #126 "Reduce the amount of sizes for the JH for Devconf"
Leave only one size for suitable for the demo.

[2021-08-31 15:46] tumido opened #127 "Check how the PVC size is allocated in JH"
@vpavlin is there anything else affecting the PVC size for JH than

https://github.com/operate-first/apps/blob/master/odh-manifests/devconfus2021/jupyterhub/base/jupyterhub-configmap.yaml#L13

[2021-08-31 16:01] tumido commented on #125
The `GIT_REPO_URL` and `GIT_REPO_NAME` is not propagated properly to the JH pod env variables in runtime.

https://console-openshift-console.apps.devconfus2021.aws.operate-first.cloud/k8s/ns/opf-jupyterhub/pods/jupyterhub-nb-aakankshaduggal/environment

Resulting in:
[code]

[2021-08-31 20:42] isabelizimm commented on #56
When looking deeper into wording, it looks like "browse wrap" or adding a (non-checkbox) disclaimer is not viable consent to track data on users. I'm not sure I want to implement this approach...WDYT? @aakankshaduggal @tumido @Shreyanand @hemajv

[2021-09-01 11:24] isabelizimm commented on #112
Attempted to pass environment variables in the _config.yml file with no luck :(

[2021-09-01 12:58] #124 closed

[2021-09-01 16:29] tumido commented on #56
yeah.. true.. I don't think we can solve this in time for devconf though.. there's a way to implement consent screen:

https://stackoverflow.com/questions/67220994/allow-google-analytics-to-load-only-after-consented-in-next-js

[2021-09-01 22:17] tumido commented on #127
@4n4nd fixed this by reinstalling jupyterhub

[2021-09-01 22:17] #127 closed

[2021-09-01 22:18] tumido commented on #125
@harshad16 any luck on this?

[2021-09-02 09:55] tumido commented on #126
cc @mimotej

[2021-09-02 10:04] tumido commented on #126
Resolved via https://github.com/operate-first/apps/pull/967

[2021-09-02 10:04] #126 closed

[2021-09-02 11:17] harshad16 commented on #125
@tumido i have tested the image, it seems to be working
still checking what could be the reason.

[2021-09-02 11:19] tumido commented on #125
Good :slightly_smiling_face:  I'm looking into it right now as well :+1: Thank you!

[2021-09-02 11:24] tumido commented on #125
I think I've messed up something in the build phase:

![image](https://user-images.githubusercontent.com/7453394/131835514-f26ccd96-301a-4cbf-a06d-7c6f6b2eeb30.png)

[2021-09-02 11:25] tumido commented on #125
I'll look into it after lunch :slightly_smiling_face:

[2021-09-13 13:27] hemajv opened #147 "Wildcard domain for Google analytics"
As we have separate meteor URLs for each user, we should look into setting up GA for each of the sub-domains like mentioned here: https://serverfault.com/questions/598539/wildcard-domain-with-google-analytics

[2021-09-13 14:33] pacospace commented on #59
Successfully delivered the workshop with @tumido and @vpavlin!

[2021-09-13 14:33] #59 closed

[2021-09-13 15:36] pacospace opened #148 "Write article for https://www.redhat.com/architect/"
After DevConf.US,

they contacted us from Enable Architect Team at RH (https://www.redhat.com/architect/) to write an article on the workshop presented.

/assign @pacospace
/assign @tumido
/assign @vpavlin

[2021-09-13 15:54] Shreyanand opened #149 "Identify delta of the current state and what we want"
In order to understand where we want to head next, we should revisit the docs we started with and identify major tasks that need to be finished.

Revisit the product feature [doc](https://docs.google.com/document/d/1lLrPLwRLWz3jdodwYxJHxUnKZuKH4wzt7O7J6VlAau8/edit#)  and select stories we want to prioritize next.

Revisit the design [doc](https://docs.google.com/document/d/1eCwFJirmAxzAMQRstAbL4Cq

[2021-09-15 19:06] goern commented on #90
/kind feature
/priority critical-urgent
/assign @codificat
/assign @harshad16

[2021-09-16 21:50] isabelizimm commented on #112
Looking into this more and stumbled across this piece: https://jupyterbook.org/interactive/launchbuttons.html#add-a-launch-on-jupyterhub-button

[code]

It looks like we should be able to have a way to launch into a JupyterLab instance without needing to touch the repo.

[2021-09-20 12:19] tumido commented on #112
Hm.. the problem with `nbgitpuller` seems that:

1. We still need to pass the JupyterHub server host url to the JupyterBook
2. JupyterHub server needs to be running (aka the pod has to be spawned by JupyterHub Spawner already)
3. Does not solve dependencies of the repo - those need to be already included in the JupyterHub server image

I think what this boils down to is that we probably need to re

[2021-09-30 13:19] durandom opened #166 "add pipeline image to docs"
https://docs.google.com/drawings/d/1wogOWEiKQHJ95gPHK31g-LNQXA4oHpHwWuHsEWzl298/edit

[2021-10-16 00:01] sesheta commented on #27
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-16 00:01] sesheta commented on #30
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-16 06:01] sesheta commented on #28
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-16 12:01] sesheta commented on #29
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-16 15:01] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-17 09:01] sesheta commented on #35
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-10-20 12:48] tumido opened #186 "Deploy Meteor declaratively"
Issue hub for deploying, operating and monitoring Meteor on smaug:

- [x] Create meteor catalog so it can be installed via OLM https://github.com/AICoE/meteor-operator/pull/39
- [x] Deploy to Smaug declaratively  https://github.com/operate-first/apps/pull/1196
- [x] Update docs https://github.com/AICoE/manage-dependencies-tutorial/issues/19 https://github.com/AICoE/manage-dependencies-tutorial/pul

[2021-10-27 10:54] riekrh opened #193 "Meteor entry website should offer example repo recommendation"
In order to help people successfully try out Meteor, there should be one or more recommended example repos on the starting page https://shower.meteor.zone/. Ideally with a tutorial explaining how to use Meteor.

[2021-11-02 15:07] sesheta commented on #65
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-02 21:07] sesheta commented on #60
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-03 08:57] pacospace opened #200 "meteor pipeline for JH image is not copying the tutorial content"
1. Go to https://shower.meteor.zone/
2. Insert https://github.com/AICoE/manage-dependencies-tutorial
3. open JH image

No material is available in the JH image, which is build from `BASE_IMAGE=quay.io/thoth-station/s2i-elyra-custom-notebook:v0.4.1`

[2021-11-03 16:12] tumido commented on #200
Is this the case for this particular image only or a generic problem for all the images? I thought I've fixed it :smile:

Related: https://github.com/AICoE/meteor/issues/125

[2021-11-03 16:30] pacospace commented on #200
I tested with elyra tutorial, but it fails for space on device: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/aicoe-meteor/tekton.dev~v1beta1~PipelineRun/meteor-xl6fj-jupyterhub/logs/generate

[2021-11-05 20:17] MichaelClifford opened #207 ""no space left on device" error while building a meteor"
While using https://shower.meteor.zone/ to build a meteor for https://github.com/aicoe-aiops/ocp-ci-analysis, the JupyterHub build  failed (meteor-rpj9n-jupyterhub) at pipeline step "generate". Investigating the logs, I can see the following error message:

`ERROR: An error occurred: write upload/src/data/raw/testgrid_183.json.gz: no space left on device`

What options does a user have if their re

[2021-11-08 15:37] MichaelClifford commented on #207
cc: @tumido @4n4nd

[2021-11-11 19:56] tumido commented on #90
Related: https://github.com/thoth-station/helm-charts/issues/7

[2021-11-11 20:08] tumido commented on #90
Installing this via OpenShift fails on `0.1.0` version of the Helm chart due to:

[code]

![image](https://user-images.githubusercontent.com/7453394/141362013-6896a53f-da31-4b6e-be8a-2b1aa0d360e6.png)

This will be probably fixed in `0.2.0` but that release is missng from listing (see comment above)

[2021-11-14 18:12] sesheta commented on #14
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 21:12] sesheta commented on #1
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 21:12] sesheta commented on #22
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-14 21:12] sesheta commented on #21
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 00:12] sesheta commented on #27
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 00:12] sesheta commented on #30
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 06:12] sesheta commented on #28
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 12:12] sesheta commented on #29
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 12:12] sesheta commented on #26
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 12:12] sesheta commented on #36
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 15:12] sesheta commented on #53
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-15 21:01] tumido commented on #207
Hey! Fix will be nontrivial at this point. We have a fixed workspace size for the builds to be 500Mi per pipeline instance. Hence bigger repositories are currently not supported. We aim to make the workspace size configurable in future update.

/kind bug
/priority imporant-soon

[2021-11-15 21:01] sesheta commented on #207
@tumido: The label(s) `priority/imporant-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/207#issuecomment-969316695):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related

[2021-11-15 21:01] tumido commented on #207
/priority important-soon

[2021-11-15 21:09] tumido commented on #186
Docs and website PRs available at: https://github.com/operate-first/operate-first.github.io/pull/328  https://github.com/AICoE/meteor/pull/216

[2021-11-16 09:12] sesheta commented on #35
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-19 10:04] goern commented on #207
/priority critical-urgent
/no-priority important-soon

[2021-11-21 15:15] sesheta commented on #102
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-21 18:15] sesheta commented on #3
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-24 00:16] sesheta commented on #108
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-26 12:15] sesheta commented on #63
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-11-28 21:17] sesheta commented on #113
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-11-29 21:43] tumido opened #228 "Load the list of pipelines from `Shower` resource dynamically"
Follow up to https://github.com/AICoE/meteor-operator/issues/52

Use API to load the appropriate `Shower` resource and fetch pipeline data from there, instead of hardcoded values. Create new API endpoint and use api/client debounce.

[2021-11-29 22:25] tumido commented on #207
Resolved via https://github.com/AICoE/meteor-operator/pull/49 . Shower now enables to configure workspace size for each deployment. Working on deployment to prod in matter of a day. In prod we'll bump it from 500Mi to 2Gi and hope it'll be enough.

[2021-11-29 22:25] #207 closed

[2021-11-29 22:26] tumido commented on #113
/remove-lifecycle stale

[2021-11-30 08:53] pacospace opened #230 "when inserting URL to meteor shower and click submit, meteor freezes"
**Describe the bug**
when inserting URL to meteor shower and click submit, meteor freezes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shower.meteor.zone/
2. Submit a URL from a repo (meteor compatible)

**Expected behavior**
meteor builds images.

**Screenshots**
![Screenshot from 2021-11-30 09-52-56](https://user-images.githubusercontent.com/27498679/144015606-738a1364-d1d

[2021-11-30 09:06] tumido commented on #186
Cumulative list of PRs:

https://github.com/AICoE/meteor/pull/231
https://github.com/AICoE/meteor/pull/224
https://github.com/AICoE/meteor/pull/226
https://github.com/AICoE/meteor/pull/227
https://github.com/AICoE/meteor/pull/214
https://github.com/AICoE/meteor/pull/213
https://github.com/AICoE/meteor/pull/212
https://github.com/AICoE/meteor-operator/pull/54
https://github.com/AICoE/meteor-operato

[2021-11-30 09:12] tumido commented on #230
I'll try restarting Shower. Something went bonkers in Smaug and despite having the Role, Rolebinding and ServiceAccount in place for ages and without a change, for some reason Shower is denied to create a Meteor resource in the cluster...

[2021-11-30 09:14] tumido commented on #230
I'm about to redeploy Meteor anyways.. so.. lets use it as an opportunity for upgrade. :smile:

[2021-11-30 09:19] pacospace commented on #230
Happy to test that :D

[2021-11-30 09:53] pacospace commented on #53
See: https://github.com/executablebooks/jupyter-book/issues/718

[2021-11-30 09:56] pacospace commented on #30
See: https://github.com/AICoE/overlays-for-ai-pipeline-tutorial

[2021-11-30 12:35] pacospace opened #233 "jupyterbook and jupyterhub pipelines build fails"
[code]

See: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/aicoe-meteor/tekton.dev~v1beta1~PipelineRun/meteor-xxgr6-jupyterbook/logs/buildah

[2021-11-30 13:11] tumido commented on #233
https://operatefirst.slack.com/archives/C01RMPVUUK1/p1638275798144000

[2021-11-30 13:17] tumido commented on #233
google is pointing me to this, but I'm not sure how does that relate to OCP builds and what to do in OCP https://github.com/containers/podman/issues/4921

[2021-11-30 14:23] tumido commented on #233
Resolved. `TektonConfig` didn't properly reconcile `pipeline-scc-rolebinding`. Needed to be created manually.

[2021-11-30 14:23] #233 closed

[2021-12-02 15:17] sesheta commented on #65
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-08 18:18] sesheta commented on #60
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-12 15:19] sesheta commented on #147
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-12 18:19] sesheta commented on #148
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-12 18:19] sesheta commented on #149
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-14 11:30] #90 closed

[2021-12-14 18:18] sesheta commented on #14
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 18:18] #14 closed

[2021-12-14 18:18] sesheta commented on #14
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/14#issuecomment-993852302):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-14 21:18] sesheta commented on #22
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 21:18] sesheta commented on #21
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 21:18] sesheta commented on #1
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-14 21:18] sesheta commented on #21
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/21#issuecomment-994021305):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-14 21:18] #21 closed

[2021-12-14 21:18] #22 closed

[2021-12-14 21:18] sesheta commented on #22
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/22#issuecomment-994021294):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-14 21:18] sesheta commented on #1
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/1#issuecomment-994021348):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:/

[2021-12-15 00:18] sesheta commented on #27
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 00:18] sesheta commented on #27
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/27#issuecomment-994161250):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-15 00:18] #27 closed

[2021-12-15 06:18] sesheta commented on #28
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 06:18] sesheta commented on #28
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/28#issuecomment-994341365):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-15 12:18] sesheta commented on #29
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 12:18] sesheta commented on #26
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 12:18] sesheta commented on #36
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-15 12:18] #29 closed

[2021-12-15 12:18] sesheta commented on #29
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/29#issuecomment-994737368):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-15 12:18] sesheta commented on #36
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/36#issuecomment-994737376):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-15 12:18] sesheta commented on #26
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/26#issuecomment-994737384):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-16 09:19] sesheta commented on #35
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-16 09:19] sesheta commented on #35
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/35#issuecomment-995585782):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2021-12-19 12:22] sesheta commented on #112
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-12-21 15:21] sesheta commented on #102
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-21 18:21] sesheta commented on #3
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-12-23 12:17] codificat commented on #36
Doing some issue refining based on my understanding of the history so far (please correct as appropriate):

/assign @vpavlin

/remove-lifecycle rotten
/triage accepted

[2021-12-26 12:21] sesheta commented on #63
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-30 12:21] sesheta commented on #30
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-30 12:21] sesheta commented on #53
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-12-30 12:21] #30 closed

[2021-12-30 12:21] sesheta commented on #30
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/30#issuecomment-1003006042):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2021-12-30 12:21] sesheta commented on #53
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/53#issuecomment-1003006036):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-01-01 15:21] sesheta commented on #65
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-01 15:21] sesheta commented on #65
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/65#issuecomment-1003573307):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-01-04 14:07] tumido commented on #65
/reopen

[2022-01-04 14:07] sesheta commented on #65
@tumido: Reopened this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/65#issuecomment-1004840339):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-01-04 14:08] tumido commented on #53
/reopen

[2022-01-04 14:08] sesheta commented on #53
@tumido: Reopened this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/53#issuecomment-1004841212):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-01-04 14:09] tumido commented on #3
/close

[2022-01-04 14:09] #3 closed

[2022-01-04 14:09] sesheta commented on #3
@tumido: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/3#issuecomment-1004842532):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:/

[2022-01-04 14:11] tumido commented on #26
/reopen

[2022-01-04 14:11] sesheta commented on #26
@tumido: Reopened this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/26#issuecomment-1004843680):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-01-04 14:12] tumido commented on #28
/reopen

[2022-01-04 14:12] tumido commented on #1
/reopen

[2022-01-04 14:13] sesheta commented on #1
@tumido: Reopened this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/1#issuecomment-1004845022):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2022-01-04 14:15] tumido commented on #108
/remove-lifecycle stale

[2022-01-07 18:22] sesheta commented on #60
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-07 18:22] #60 closed

[2022-01-07 18:22] sesheta commented on #60
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/60#issuecomment-1007631692):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-01-11 14:05] pacospace commented on #148
First one out: https://www.redhat.com/architect/cloud-native-ai

[2022-01-11 15:23] sesheta commented on #147
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-11 18:23] sesheta commented on #149
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-12 14:18] pacospace commented on #148
Second one out: https://www.redhat.com/architect/operate-first-open-data-hub

[2022-01-12 14:18] pacospace commented on #148
we can close this issue! 💯

[2022-01-12 14:18] #148 closed

[2022-01-14 12:34] #230 closed

[2022-01-14 12:34] pacospace commented on #230
This was solved with the new deployment.

[2022-01-18 12:24] sesheta commented on #112
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-01-20 15:23] sesheta commented on #102
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-20 15:23] sesheta commented on #102
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/102#issuecomment-1017618702):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-01-23 15:25] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-25 09:48] tumido commented on #186
Considering this done.

[2022-01-25 09:48] #186 closed

[2022-01-25 12:23] sesheta commented on #63
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-01-25 12:23] #63 closed

[2022-01-25 12:23] sesheta commented on #63
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/63#issuecomment-1021132662):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-01-25 12:25] sesheta commented on #193
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-01 18:27] sesheta commented on #200
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 15:24] sesheta commented on #53
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-03 15:24] sesheta commented on #65
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-03 15:24] sesheta commented on #26
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-03 15:24] sesheta commented on #1
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-03 15:24] sesheta commented on #28
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-03 15:24] #65 closed

[2022-02-03 15:24] sesheta commented on #53
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/53#issuecomment-1029102469):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-02-03 15:24] sesheta commented on #65
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/65#issuecomment-1029102457):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-02-03 15:24] #26 closed

[2022-02-03 15:24] #1 closed

[2022-02-03 15:24] sesheta commented on #26
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/26#issuecomment-1029102484):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-02-03 15:24] #28 closed

[2022-02-03 15:24] sesheta commented on #1
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/1#issuecomment-1029102506):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https:

[2022-02-03 15:24] sesheta commented on #28
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/28#issuecomment-1029102497):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-02-03 15:27] sesheta commented on #55
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 15:27] sesheta commented on #79
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 15:27] sesheta commented on #56
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 15:27] sesheta commented on #58
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-03 15:27] sesheta commented on #64
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-10 15:24] sesheta commented on #147
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-10 15:24] #147 closed

[2022-02-10 15:24] sesheta commented on #147
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/147#issuecomment-1035050179):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-02-10 18:24] sesheta commented on #149
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/149#issuecomment-1035287635):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-02-10 18:24] #149 closed

[2022-02-17 21:58] sesheta commented on #112
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-02-17 21:59] #112 closed

[2022-02-17 21:59] sesheta commented on #112
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/112#issuecomment-1043506997):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-02-22 17:24] sesheta commented on #52
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-24 17:24] sesheta commented on #193
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-27 22:08] sesheta commented on #228
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-02-28 01:08] sesheta commented on #113
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-05 17:03] sesheta commented on #53
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-05 17:03] sesheta commented on #53
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/53#issuecomment-1059797453):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-03-05 17:03] #53 closed

[2022-03-05 17:25] sesheta commented on #55
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 17:25] sesheta commented on #56
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 17:25] sesheta commented on #79
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 17:25] sesheta commented on #58
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-05 17:25] sesheta commented on #64
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-23 13:10] sesheta commented on #36
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-24 20:06] sesheta commented on #52
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-24 20:06] sesheta commented on #52
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/52#issuecomment-1078115607):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-03-24 20:06] #52 closed

[2022-03-26 20:06] sesheta commented on #193
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-03-26 20:06] sesheta commented on #193
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/193#issuecomment-1079766013):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-03-26 20:06] #193 closed

[2022-03-29 23:27] sesheta commented on #228
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-03-30 02:27] sesheta commented on #113
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-02 23:07] sesheta commented on #200
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-02 23:07] sesheta commented on #200
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/200#issuecomment-1086739477):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-04-02 23:07] #200 closed

[2022-04-04 20:07] sesheta commented on #55
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 20:07] sesheta commented on #79
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 20:07] sesheta commented on #56
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 20:07] sesheta commented on #64
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 20:07] sesheta commented on #58
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-04 20:07] #55 closed

[2022-04-04 20:07] #79 closed

[2022-04-04 20:07] sesheta commented on #55
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/55#issuecomment-1087962823):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-04-04 20:07] #56 closed

[2022-04-04 20:07] #58 closed

[2022-04-04 20:07] #64 closed

[2022-04-04 20:07] sesheta commented on #79
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/79#issuecomment-1087962852):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-04-04 20:07] sesheta commented on #56
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/56#issuecomment-1087962863):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-04-04 20:07] sesheta commented on #58
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/58#issuecomment-1087962891):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-04-04 20:07] sesheta commented on #64
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/64#issuecomment-1087962877):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-04-22 14:30] sesheta commented on #36
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-29 02:10] #228 closed

[2022-04-29 02:10] sesheta commented on #228
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/228#issuecomment-1112815489):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-04-29 05:10] sesheta commented on #113
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-04-29 05:10] #113 closed

[2022-04-29 05:10] sesheta commented on #113
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/113#issuecomment-1112881922):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-05-04 17:31] sesheta commented on #108
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-05-22 17:13] sesheta commented on #36
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-22 17:13] #36 closed

[2022-05-22 17:13] sesheta commented on #36
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/36#issuecomment-1133937147):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2022-06-03 18:39] sesheta commented on #108
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-06-03 18:39] sesheta commented on #108
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/AICoE/meteor/issues/108#issuecomment-1146256297):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](http

[2022-06-03 18:39] #108 closed